<section class="contactMe "id="Contact">
         
    <div class="header_contianer">
        <span class="heading_span">contact</span>
        <h1 class="heading_h">Contact With Me</h1>
    </div>

    <div class="contactMe_cont">
     <div class="contact_info">
       <div class="img_con"> <img  id="affect_img"src="img/contact1.png" alt=""></div>
        <article>
           <h3>Contact Info</h3> 
           <p>I am available for freelance work. Contact  me via and call in to my account.</p>
            <div class="email_number">  
                <div>phone:<a href="+967 775199864"> +967 775199864</a></div>
                <div>Email: <a href="mailto:afaf14albakri@gmail.com">afaf14albakri@gmail.com</a></div>
            </div>
           <div class="social_links_container">find Me On
                <ul class="social_links">
                        <li><a><i class="fab fa-facebook-f"></i></a></li>
                        <li><a><i class="fab fa-twitter "></i></a></li>
                        <li><a><i class="fab fa-instagram "></i></a></li>
                        <li> <a><i class="fab fa-linkedin-in "></i></a></li>
                </ul>
            </div> 
        </article>
     </div>
    <div class="form_container">
        <form >
        
            <label>Your Name</label><input class="full_width" id ="name" type="text" name="sender_name"> <span class="input_status">input_status</span>
            <label>Phone Number</label><input type="tel"class="full_width" name="phone_number" id="phone"><span class="input_status">input_status</span>
             <label >Email</label> <input class="full_width"type="email" name="email" id="email"><span class="input_status">input_status</span>
            <label >Subject</label> <input class="full_width"type="text" name="subject" id="subject" ><span class="input_status">input_status</span>
            <label >Your message</label><textarea class="full_width" name="" id="message" cols="20" rows="6"></textarea><br><span class="input_status">input_status</span>
            <button class="btn" type="submit">send Message</button>
         </form>
</div>
</div>
</section>
<hr>