<header>
    <nav class="row">
        <div class="logo">CV</div>
        <!-- <div class="menue_container">
        
        </div> -->
        <div class="burger_menue">
            <i  id="burger_icon" class="fas fa-bars"></i>
            <!-- <div class="drop_menu">
                <ul>
                    <li><a href="#Home">Home</a></li>
                    <li><a href="#About">About</a></li>
                    <li><a href="#Skills">Skills</a></li>
                    <li><a href="#Services">Services</a></li>
                    <li><a href="#Experience">Experience</a></li>
                    <li><a href="#portifilo">portifilo</a></li>
                    <li><a href="#Contact">Contact</a></li>
                </ul>
            </div> -->

        </div>
        
    </nav>
   <div class="left_to_right_menu">
      <div class="side_menu_container">
        <div class="burger_menue__x">
            <i  id="burger_icon" class="fas fa-times"></i>
            <div class="side_menu">
                <ul>
                    <li><a href="#Home">Home</a></li>
                    <li><a href="#About">About</a></li>
                    <li><a href="#Skills">Skills</a></li>
                    <li><a href="#Services">Services</a></li>
                    <li><a href="#Experience">Experience</a></li>
                    <li><a href="#portifilo">Portifilo</a></li>
                    <li><a href="#Contact">Contact</a></li>
                    
                    
                </ul>
                <div class="btn_container"><button id="btn"> dark mode</button>
                    <button id="btn_light" class="active">light mode</button>
                </div>
            </div>

      </div>
</div>
</header>