    <section class="landing" id="Home"> 
                <article class="landing_contet">
                    <h1>Hi,I’m <span class="my_name">Afaf Albakri</span></h1>
                   <h1>a <span class="title"> DEVELOPER  </span></h1>
                   <p>I'm a Freelancer Front-end Developer with proven ability
                       to design professional responsive websites using pure Css,
                       JavaScript and modern frameworks. 
                    </p>
                 
             <div class="social_links_container social_links_top">find Me On
                <ul class="social_links">
                        <li><a><i class="fab fa-facebook-f"></i></a></li>
                        <li><a><i class="fab fa-twitter "></i></a></li>
                        <li><a><i class="fab fa-instagram "></i></a></li>
                        <li> <a><i class="fab fa-linkedin-in "></i></a></li>
                </ul>
            </div> 
                </article>
                <div class="myphoto_container">
                    <img src="img/undraw_teacher_re_sico.svg" alt="">
                </div>
            
        </section> 
        <hr>