   <section class="portifolio" id="portifilo">
            <div class="header_contianer">
                <span class="heading_span">Qualification
                </span>
                <h1 class="heading_h">portifolio</h1>
            </div>
            <div class="port_text_cont">
                <article>
                    <a href=""><i class="fas fa-graduation-cap"></i></a>
                    <div class="port_img_container">
                      
                        <div class="port_img"></div>
                    </div>
                    <div class="port_info">
                        <span>CMS</span> <span>Moodle</span>
                        <p>Education Moodle website</p>
                    </div>
                   
                </article>
                 <article>
                    <a href=""><i class="fas fa-graduation-cap"></i></a>
                    <div class="port_img_container">
                      
                        <div class="port_img"></div>
                    </div>
                    <div class="port_info">
                        <span>Html</span> <span>Bootstarp</span>
                        <p>Bootstarp Responsive</p>
                    </div>
                   
                </article>
                
                <article>
                    <a href=""><i class="fas fa-graduation-cap"></i></a>
                    <div class="port_img_container">
                      
                        <div class="port_img"></div>
                    </div>
                    <div class="port_info">
                        <span>Html</span> <span>Css</span>
                        <p>Pure Css Responsive</p>
                    </div>
                   
                </article>
           </div>
    </section>
        <hr>