<section class="features" id="Services">
    <div class="header_contianer">
        <span class="heading_span">Services
        </span>
        <h1 class="heading_h">What I Do</h1>
    </div>
    <div class="services_text_cont">
        <article>
            <a href=""><i class="fas fa-palette"></i></i></a>
            <h3>Front End Web Design</h3>
           
        </article>
        <article>
            <a href=""><i class="fas fa-compress-alt"></i></a>
            <h3>bootstarp Responsive</h3>
       
        </article>
        <article>
            <a href=""><i class="fab fa-searchengin"></i></a>
            <h3>Search Engine Optmization</h3>
            
        </article>
        <article>
            <a href=""><i class="fas fa-graduation-cap"></i></a>
            <h3>Moodle Developement</h3>
          
        </article>

        <article>
            <a href=""><i class="fab fa-joomla"></i></a>
            <h3>Joomla Development</h3>
          
        </article>
    </div>
   
</section>
<hr>