<section class="skills" id="Skills">
    <div class="header_contianer">
        <span class="heading_span">Qualification
        </span>
        <h1 class="heading_h">knowledge and skills</h1>
    </div>
    <div class="feat_text_cont">
        <article  style="width:95%">
           <div> <span>Html & Css</span><span>95%</span></div>
        </article>
        <article  style="width:85%">
            <div> <span>Javascript</span><span>85%</span></div>
        </article>
        <article  style="width:70%" >
            <div><span>Bootstrap</span> <span>70%</span></div>
        </article >
        <article  style="width:95%">
            <div><span>Joomla Development</span> <span>95%</span></div>
        </article>
    <article  style="width:90%">
        <div><span>Moodle Developement</span> <span>90%</span></div>
    </article>
    </div>
</section>
<hr>